* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.h1 {
  width: 100%;
  height: 50px;
  background-color: red;
}

.h2 {
  width: 100%;
  height: 500px;
  background-color: orange;
}

.M {
  width: 960px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.m-left {
  width: 230px;
  height: 1400px;
  background-color: limegreen;
}

.m-center {
  width: 500px;
  height: 1400px;
  background-color: green;
}

.m-right {
  width: 230px;
  height: 1400px;
  background-color: limegreen;
}

.F {
  width: 100%;
  height: 100px;
  background-color: blue;
}
